<?xml version="1.0" ?>
<model>
  <name>container</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
      <name>S.Nosaka</name>
      <email>c6100188@planet.kanazawa-it.ac.jp</email>
  </author>

  <description>
    A container(bin, palette, box)
  </description>
</model>
